h1 {
  text-align: center;
}
body {
  background-color: hsl(204, 70%, 52%);
  color: hsl(0, 90%, 100%);
}

table{
  border: 1px solid hsl(0, 0%, 0%);
  border-collapse: collapse;
  padding: 30px;
  margin: 0;
}

th{
  border: 1px solid hsl(0, 0%, 0%);
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

td {
  border: 1px solid hsl(0, 0%, 0%);
  text-align: left;
  padding: 15px;
}