@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

section {
    border: 2px solid;
    margin: 10px 50px;
}

div.colors{
    width: 100px;
    margin: 10px 10px;
    display: inline-block;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    margin: 10px 10px;
}

section.borderless {
    border: none;
}

div.blue {
    background-color: #2d5dcc;
}

div.pink {
    background-color: #d957d9;
}

div.mint {
    background-color: #4fe0b0;
 }

div.beige {
    background-color: #efd9ca;
}

p.blue {
    color: white;
}

p.source-normal {
    font-family: 'Source Code Pro', monospace;
}

p.source-italic {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
}

p.source-bold {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

p.nunito-normal {
    font-family: 'Nunito Sans', sans-serif;
}

p.nunito-italic {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
}

p.nunito-bold {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

p.poppins-normal {
    font-family: 'Poppins', sans-serif;
}

p.poppins-italic {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

p.poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

div.fonts {
    width: 200px;
    margin: 10px 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

div.style {
    margin: 10px 10px;
    vertical-align: top;
}

h3.main {
    font-weight: 700;
    font-size: 26px;
    font-family: 'Nunito Sans', sans-serif;
}

h3.subheading {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

h3.paragraph {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}