* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: SeaGreen;
    border-style:solid;
    border-color:#287EC7;
    size: 0;
  }

  #first {
    padding: 50px 100px;
    margin: 50px 100px;
  }

  #last {
    padding: 50px 100px;
    margin: 25px 100px;
  }